{% load static %}
<!doctype html>
<html lang="pt-BR">

<head>
  <title>Escola app</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'App/style.css' %}">

</head>

<body id="bg" style="background-image: url('{% static "App/image/bg2.jpg" %}');" >
  
  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#navbarExample01"
          aria-controls="navbarExample01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarExample01">
        </div>
      </div>
    </nav>
  </header>
  <div
    class="p-5 text-center bg-image"
    style="
      background-image: url('{% static "App/image/estacionamento.jpg" %}');
      height: 400px;
      
    "
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100 ">
        <div class="text-white">
          <h1 class="mb-3">Rio2Parking</h1>
          <h4 class="mb-3">Estacionamentos</h4>
          
        </div>
      </div>
    </div>
  </div>
  <main>
    <div class="container">
        <div class="box atendimento">
            <img class="bg" src="{% static 'App/icone.png' %}" alt="">
            <h6>Atendimento com Qualidade e de forma simplificada</h6>
        </div>
        <div class="box cancel">
            <img class="cancela" src="{% static 'App/cancela.png' %}" alt="">
            <h6>Tecnologia de ponta ao seu dispor</h6>
        </div>
        <div class="box seg">
            <img class="segurança" src="{% static 'App/seg.png' %}" alt="">
            <h6 id="text3">Segurança total para o seu veículo</h6>
        </div>
        
    </div>

  </main>
  <footer>
    <!-- place footer here -->
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
</body>

</html>